.btn-outline-header-2-2 {
  border: 1px solid #555b61;
  color: #555b61;
}
.btn-outline-header-2-2:hover {
  border: 1px solid #27c499;
  color: #27c499;
}
.btn-outline-header-2-2:hover div path {
  fill: #27c499;
}
.btn-fill-header-2-2 {
  border: 1px solid #27c499;
}
.navigation-header-2-2 a:hover,
.active::after {
  font-weight: 600;
}
